// Variables
$primary: #21ce99;
$secondary: #f45531;
$black: #040d14;

$acc-primary: eeaa7b;
$acc-secondary: #66b9bf;

@import url(https://fonts.googleapis.com/css?family=Cairo:400,700);
$cairo: 'Cairo', sans-serif;


@import 'global';
@import 'navigation';
@import 'sect_one';
@import 'sect_two';
@import 'sect_three';