// Section One
#section-one {
  //background: $primary;
  background: linear-gradient(rgba(33,206,153,1),rgba(33,206,153,.85)), url('../img/computer-min.jpg');// no-repeat center center fixed;
  background-position: center center;
  background-size: cover;
  
  .title {
    color: white;
    font-family: $cairo;
    margin: 1rem 1rem;
  }
  
  p {
    color: white;
    font-size: 1.2rem;
    font-family: $cairo;
    line-height: 1.8rem;
    max-width: 900px;
    margin: 1rem auto;
    text-align: center;
  }

  #subtext

  .mission {
    ul {
      display:table;
      margin:0 auto;
      font-size: 110%;

      li {
        margin: 10px 0 0 0;
        color: #ffffff;
        list-style-type: circle;
        font-family: "Cairo";
      }
    }
  }
}

// @media #{$medium-up} {
//   #problem {
//     height: 100vh;
//   }
// }
