// Global
.title {
  text-align: center;
  font-size: 3rem;
  font-family: $cairo;
}

p {
  font-family: $cairo;
}

.desktop {
  display: none;
}

.mobile {
  display: inline-block;
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  section {
    min-height: 100vh;
    padding: 5rem 12%;
  }

  ul {
    width: 60%;
    margin: 0 auto;
  }

  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }
}
