// Global
.title, {
  text-align: center;
  font-size: 3rem;
  font-family: $cairo;
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-family: $cairo;
  color: $tertiary;
  margin-bottom: 1rem;
}
p {
  font-family: $cairo;
}

strong {
  color: $tertiary;
}

.desktop {
  display: none;
}

.mobile {
  display: inline-block;
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  &.centered-text p {
    text-align: center;
  }

  .title {
    font-family: $cairo;
    margin: 2rem 1rem 1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: $cairo;
  line-height: 1.8rem;
  max-width: 900px;
  margin: 1rem auto;
  //text-align: center;
}

a {
  text-decoration: none;
}

ul {
  padding-bottom: 1rem;
  margin: 0 auto;

  li {
    color: white;
    font-family: $cairo;
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
    line-height: 1.6rem;
  }
}

.mission {
  ul,
  ol {
    //display:table;
    margin: 1rem auto;
    font-size: 110%;
    width: 60%;

    li {
      margin: 10px 0 0 0;
      //color: #ffffff;
      list-style-type: circle;
      font-family: "Cairo";
      line-height: 1.2rem;
    }
  }
}

.icon {
  height: 120px;
  margin: 2rem auto;
}

.coming-soon {
  color: rgb(175,175,175) !important;
  font-size: 1rem;
}
.paypal-container {
  padding: 4rem 0;
  background: $tertiary;
  border-radius: 3px;
}
.paypal-form {
  display: flex;
  justify-content: center;
}

.title.no-top-margin {
  margin: 0rem auto 2rem;
}
@media screen and (min-width: 700px) {
  section {
    min-height: 65vh;
    padding: 5rem 12%;
  }

  .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .section {
    p {
      margin: 0 auto 1rem;
    }
  }

  ul {
    width: 60%;
    margin: 0 auto;
  }

  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .title {
    font-size: 2.5rem;
  }
}
