// section three
#section-three .title {
  color: $primary;
}

.cta-button {
  text-align: center;
  color: white;
  background: $primary;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 14rem;
  font-size: 1.2rem;
  transition: ease 500ms;
  font-family: $cairo;
  border-radius: 3px;
  line-height: 1;
  border: 0;

  &:hover {
    background: lighten($primary, 15%);
    color: white;
  }

  &:visited {
    color: white;
  }
}

input.email {
  max-width: 600px;
  width: 90%;
  display: block;
  line-height: 1.75rem;
  margin: 2rem auto 0;
  font-size: 1.25rem;
  text-indent: .5rem;
  border: 2px solid $primary;
  border-radius: 3px;

  &:focus {
    outline-color: $primary;
  }

  &.mce_inline_error {
    border: 1px solid $error;
    border-color: $error !important;
  }
}

#mc_embed_signup div.mce_inline_error {
  background-color: transparent !important;
  color: $error !important;
  width: 100% !important;
  text-align: center !important;
}

div#mce-success-response {
  width: 80%;
  display: block;
  margin: 1rem auto;
  color: $primary;
}
.submit-button {
  display: block
}
