.team-member {
  display: inline-block;
  margin: auto;

  .headshot {
    height: 20rem;
    width: 20rem;
    max-width: 90%;
    display: block;
    margin: 1rem auto 0;
    border-radius: 50%;
    border: 5px solid $primary;
    overflow: hidden;
    background-size: cover;

    &.joe {
      background-image: url('../../img/joe_mini.jpg');
    }

    &.david {
      background-image: url('../../img/david-mini.jpg');
    }
  }
}
